# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Secrets

*.key
*.pem